executor {
	name = 'lsf'
	perJobMemLimit = true
	queueSize = 50
}

process {
	withName: processRunFile {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 16000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
	withName: createReadMe {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 16000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
	withName: downloadSRR {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 32000'
		errorStrategy = 'retry'
		maxRetries = 3
		cache = 'lenient'
	}
	withName: mergeFASTQ {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 32000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
	withName: alignRNA {
		clusterOptions = '-W 36:00 -n 4 -R "span[hosts=1]" -M 128000'
		errorStrategy = 'retry'
		maxRetries = 3
		cache = 'lenient'
	}
	withName: processRNA {
		clusterOptions = '-W 36:00 -n 4 -R "span[hosts=1]" -M 128000'
		errorStrategy = 'retry'
		maxRetries = 3
		cache = 'lenient'
	}
	withName: createMatrices {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 32000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
	withName: performDE {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 16000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
	withName: alignDNA {
		clusterOptions = '-W 36:00 -n 4 -R "span[hosts=1]" -M 128000'
		errorStrategy = 'retry'
		maxRetries = 3
		cache = 'lenient'
	}
	withName: processDNASingle {
		clusterOptions = '-W 36:00 -n 4 -R "span[hosts=1]" -M 128000'
		errorStrategy = 'retry'
		maxRetries = 3
		cache = 'lenient'
	}
	withName: processDNAMerged {
		clusterOptions = '-W 36:00 -n 4 -R "span[hosts=1]" -M 128000'
		errorStrategy = 'retry'
		maxRetries = 3
		cache = 'lenient'
	}
	withName: callPeaks {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 32000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
	withName: cleanWorkFiles {
		clusterOptions = '-W 36:00 -n 1 -R "span[hosts=1]" -M 16000'
		errorStrategy = 'finish'
		cache = 'lenient'
	}
}
